.home {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.optionsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  max-width: 900px;
}

.option {
  align-items: center;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  gap: 1rem;
  height: 70px;
  overflow: hidden;
  padding: 7px 15px;
  position: relative;
  transition: all .2s ease;
  width: 250px;
}

.option:hover {
  opacity: .9;
}

.optionPokemon {
  background: linear-gradient(337deg, rgba(231,76,60,1) 0%, rgba(213,67,52,1) 41%, rgba(192,57,43,1) 100%);
}

.optionLocations {
  background: linear-gradient(337deg, rgba(46,204,113,1) 0%, rgba(43,190,105,1) 45%, rgba(39,174,96,1) 100%);
}

.optionBerries {
  background: linear-gradient(337deg, rgba(155,89,182,1) 0%, rgba(149,80,178,1) 45%, rgba(142,68,173,1) 100%);
}

.optionMoves {
  background: linear-gradient(337deg, rgba(230,126,34,1) 0%, rgba(221,107,19,1) 45%, rgba(211,84,0,1) 100%);
}

.optionAbilities {
  background: linear-gradient(337deg, rgba(241,196,15,1) 0%, rgba(242,178,16,1) 45%, rgba(243,156,18,1) 100%);
}

.optionItems {
  background: linear-gradient(337deg, rgba(52,152,219,1) 0%, rgba(47,141,204,1) 45%, rgba(41,128,185,1) 100%);
}

.optionTitle {
  color: #FFF;
  font-size: 18px;
  font-weight: 600;
}

.optionImg {
  height: 84px;
  position: absolute;
  right: -1rem;
  opacity: .6;
  overflow: hidden;
  width: 84px;
}