header{
  margin: 0 auto;
  position: relative;
}

.navbar {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 1rem auto 0 auto;
  position: relative;
  max-width: 1200px;
}

.navbarPokeball {
  height: 60px;
  position: absolute;
  top: -1.5rem;
  right: -.6rem;
  overflow: hidden;
  width: 60px;
  z-index: -1;
}

.navbarLogo {
  cursor: pointer;
}

.inputFields {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  height: 40px;
  justify-content: center;
  margin-top: 1rem;
}