.pokemon {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin: 5rem auto;
}

.pokemonInfo {
  display: flex;
  gap: 1rem;
  justify-content: center;
  width: 100%;
}

.leftSide {
  background-color: #ced6e0;
  border-radius: 3px;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.pokemonInfoImg {
  width: 250px;
}

.rightSide {
  background-color: #FFF;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1rem;
  max-width: 500px;
}

.pokemonInfoName {
  font-size: 24px;
  font-weight: 800;
}

.pokemonInfoTypes {
  justify-content: flex-start;
  margin-top: .5rem;
}

.pokemonInfoText {
  margin-top: 1rem;
}

.pokemonBasicInfo {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;

  & .pokemonCharacteristic {
    display: flex;
    flex-direction: column;
  }

  & .basicInfoLabel {
    font-weight: 300;
  }

  & .basicInfoText {
    align-self: center;
    font-weight: 600;
  }
}

.stats-weaknesses {
  background-color: #FFF;
  border-radius: 3px;
  display: flex;
  gap: 2rem;
  justify-content: space-around;
  margin: 2rem auto 0 auto;
  padding: 1rem;
  width: 765px;

  & .stats {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: .5rem;
    max-width: 350px;
  }
}