@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;1,200&display=swap');

/* UNIVERSAL STYLES */
* {
  box-sizing: border-box;
  color: #3d3d3d;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

html {
  min-height: 100vh;
  overflow-x: hidden;
  min-width: 100%;
}

body {
  background: #eff3ff;
  min-height: 100vh;
  min-width: 100%;
}

html,
body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container {
  max-width: 1200px;
}

a {
  text-decoration: none;
}

input,
button {
  border: none;
  border-radius: 3px;
  font-size: 14px;
}

input {
  padding: 7px 15px;
  width: 250px;
}

input:focus {
  outline: none;
}

/* .btn {
  cursor: pointer;
  padding: 7px 15px;
}

.btnPrimary {
  background-color: #e74c3c;
  border-bottom: 4px solid #c0392b;
  color: #FFF;
}

.btnPrimary:hover {
  background-color: #E95A4A;
}

.btnPrimary:active {
  transform: scale(.98);
} */

.pokeTypes {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.pokeType {
  border-radius: 20px;
  color: #FFF;
  font-size: 12px;
  font-weight: 600;
  padding: 4px 8px;
  text-transform: uppercase;
}

/* ============= */
/* MEDIA QUERIES */
/* ============= */
@media (min-width: 768px) {
  /* ============= */
  /* == NAVBAR === */
  /* ============= */
  .navbar {
    flex-direction: row;
  }

  .navbarPokeball {
    height: 75px;
    right: -1rem;
    top: -1.7rem;
    width: 75px;
  }

  .inputFields {
    flex-direction: row;
    gap: 1rem;
    margin-top: 0;
  }

  /* ============= */
  /* === HOME ==== */
  /* ============= */
  .optionsContainer {
    gap: 2rem;
  }
}